<div ng-include="'partials/header.html'"></div>
<div class="container accomodation">
  <div class="row">
    <div class="col w8/12 o2/12 m:w10/12 m:o1/12">
      <h1>
        Accommodation 
      </h1>
      <h2>
        Your stay in Riga
      </h2>
      <p>For all our international guests who would choose to spend some time in Riga, we would recommend <a href="http://www.astorrigahotel.lv/">Astor Riga Hotel & Conference</a>.</p>
          
          <img src="img/astor-riga-hotel.png" height="300px" /> <img src="img/astor-riga-hotel-room.png" height="300px" />
          
          <p>It is freshly renovated, conveniently located in the  <a href="https://www.google.dk/maps/place/Astor+Riga+Hotel/@56.95127,24.109885,15z/data=!4m2!3m1!1s0x0:0x10736632a3563243">Old Town of Riga</a>, and a double room can be booked for under 100 EUR per night (provided booking well in advance, so please do not delay making your reservations). This will also be the departure / arrival location of the chartered bus to Jumurda.</p> 
          <p>Please note, accommodation is provided for all our guests for the night of Saturday, August 15 in the Jumurda Manor House.</p>
        <p>Should you like less / more expensive accommodation, these would be the recommended options (alternatively, a hotel search engine e.g. <a href="http://www.hotels.com/">Hotels.com</a> will provide a good overview of accommodation options in Riga): </p>
      <h3>Premium - from 150 EUR/night</h3>
      <ul>
          <li> <a href="http://www.neiburgs.com/">Hotel Neiburgs</a> </li>
      </ul>
      <h3>Mid-range - from 90 EUR/night</h3>
      <ul>
          <li><a href="http://www.alberthotel.lv/">Albert Hotel</a></li>
      </ul>
      <h3>Budget - from 60 EUR/night</h3>
      <ul>
          <li><a href="http://www.hotelkolonna.com/hotels/riga/konventa-seta/en/">Konventa Sēta Hotel</a></li>
      </ul>
      
      <h3>Images of Riga and Latvia</h3>
      <div class="images">
        <img src="img/riga-1.jpg" width="400" height="300"></img><img src="img/latvia-1.jpg" width="400" height="300"></img>
      </div>
      <h3>Google maps</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17408.699401554044!2d24.109636019623448!3d56.94730341186482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sdk!4v1428069383775" width="400" height="300" frameborder="0" style="border:0"></iframe>
      
      <h2>
        Your stay at Jumurdas Manor House
      </h2>
      <p>We will be providing accommodations for Saturday to Sunday in Jumurdas Manor House, we try to find rooms fitting the size of your group attending the wedding, so please add a comment in the RSVP if you have special requirements</p>
      <h3>Images from Jumurdas Manor House</h3>
      <div class="images">
        <img src="img/jumurdas-manor.jpg" width="400" height="300"></img><img src="img/jumurdas-manor-2.jpg" width="400" height="300"></img>
      </div>
      <h3>Google maps</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4352.329451291417!2d25.740211!3d56.945979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sdk!4v1428069999098" width="400" height="300" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>