<div ng-include="'partials/header.html'"></div>
<div class="container welcome-hero">
  <div class="row hero">
    <div class="col w10/12 o1/12">
      <h1>
        Accommodation 
      </h1>
      <h2>
        Your stay in Riga
      </h2>
      <p>Description of the Hotels we recomend in riga with different price levels, from cheap to luxury and a google maps with pins on recomended hotels, plus link to booking.com</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17408.699401554044!2d24.109636019623448!3d56.94730341186482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sdk!4v1428069383775" width="400" height="300" frameborder="0" style="border:0"></iframe>
      <h2>
        Your stay at Jumurdas Manor House
      </h2>
      <p>Descripton of Jumurdas Manor House and that we are provided the stay for Saterday to Sunday</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4352.329451291417!2d25.740211!3d56.945979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sdk!4v1428069999098" width="400" height="300" frameborder="0" style="border:0"></iframe>
    </div>
  </div>

</div>
