<div ng-include="'partials/header.html'"></div>
<div class="container rsvp">
  <div class="row hero">
    <div class="col w10/12 o1/12">
      <h1>
        Contact us
      </h1>
         <p>
        Any questions or suggestions? Just give us a shout!
      </p>
         <table>
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th>Mobile</th>
        </tr>
        <tr>
          <td>Alise, our awesome wedding planner</td>
          <td>alise.kolosova[at]gmail.com</td>
          <td>+371 29 288 301</td>
        </tr>
        <tr>
          <td>Troels</td>
          <td>tlb[at]rapanden.dk</td>
          <td>+45 51 51 18 38</td>
        </tr>
             <tr>
          <td>Aisma</td>
          <td>avitina[at]gmail.com</td>
          <td>+45 60 39 17 02</td>
        </tr>
      </table>
      </div>
  </div>

</div>
