<div ng-include="'partials/header.html'"></div>
<div class="container rsvp">
  <div class="row hero">
    <div class="col w8/12 o2/12 m:w10/12 m:o1/12">
      <h1>
        Contact us
      </h1>
         <p>
        Any questions or suggestions? Just give us a shout!
      </p>
        <table>
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th>Mobile</th>
        </tr>
        <tr>
          <td>Alise, our awesome wedding planner</td>
          <td><a href="mailto:alise.kolosova@gmail.com?Subject=Aisma and Troels">alise.kolosova@gmail.com</a></td>
          <td>+371 29 288 301</td>
        </tr>
        <tr>
          <td>Troels</td>
          <td><a href="mailto:tlb@rapanden.dk">tlb@rapanden.dk</a></td>
          <td>+45 51 51 18 38</td>
        </tr>
             <tr>
          <td>Aisma</td>
          <td><a href="mailto:avitina@gmail.com">avitina@gmail.com</a></td>
          <td>+45 60 39 17 02</td>
        </tr>
      </table>
      </div>
  </div>
</div>
