<div ng-include="'partials/header.html'"></div>
<div class="container welcome-hero">
  <div class="row hero">
    <div class="col w10/12 o1/12">
      <h1>
        Getting 
      </h1>
      <p>Long description of how people get to Riga with the different airlines</p>
      <h2>
        Getting to riga
      </h2>
      <p>Description of the options of getting to Riga by plane from boat and car</p>
      <h2>
        Getting to Jumurdas Manor House
      </h2>
      <p>Descripton </p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d279221.82655045984!2d25.00341200975495!3d56.85588308594409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x46eecfb0e5073ded%3A0x400cfcd68f2fe30!2zUsSrZ2EsIExhdHZpYQ!3m2!1d56.9496487!2d24.105186399999997!4m5!1s0x46e977d8053d9021%3A0xf2ae486c53961c9e!2sJumurdas+Mui%C5%BEa%2C+Jumurda+parish%2C+Latvia!3m2!1d56.946115999999996!2d25.741009!5e0!3m2!1sen!2sdk!4v1428070546210" width="400" height="300" frameborder="0" style="border:0"></iframe>
    </div>
  </div>

</div>
