<div ng-include="'partials/header.html'"></div>
<div class="container getting-here">
  <div class="row">
    <div class="col w8/12 o2/12 m:w10/12 m:o1/12">
      <h1>
        Getting There
      </h1>
      
      <h2>
        Getting to Riga, Latvia
      </h2>
        
      <div class="images clearfix">
        <img src="img/riga-1.jpg" height="300px" />
        <img src="img/flights-to-riga.gif" height="300px" />
      </div>
        
      <p>Arriving to Latvia by plane would be the recommended mode of travel, as Riga International Airport (RIX) has many direct flights to most European destinations, and flights to Riga are usually quite cheap. There are also low-cost carriers operating routes to Riga, including Ryanair, Wizz Air, and Norwegian. Air Baltic, the national airline, has the largest selection of direct flights to Riga.</p>
      <p>It is usually a good idea to use a flight search engine (e.g. <a href="http://www.momondo.com/" target="_blank">Momondo</a>) to find the cheapest flights.</p>
      <p>For our Scandinavian guests, <a href="http://www.norwegian.com/" target="_blank">Norwegian</a> and <a href="https://www.airbaltic.com" target="_blank">Air Baltic</a> would be the recommended airlines.</p>
      <h3>
        Arrival
      </h3>
      <p>We would suggest arriving to Riga on Friday, August 14 (or earlier yet if you can), and do some sight-seeing in Riga before heading off to Jumurda on Saturday. Should that not be possible, we would recommend arriving to Riga no later than 10:00 in the morning (local time) on Saturday, August 15.</p>
      <h3>
        Departure
      </h3>
      <p>We would suggest to plan your return flight from Riga no earlier than ca. 19:30 on Sunday, August 16 (especially if you would like to go by the bus we have chartered). This is because Latvian weddings are traditionally 2-day weddings (as is this one), and all of our guests are welcome to stay in the Jumurda Manor Estate until afternoon of Sunday, August 16. The accommodation for the night from Saturday to Sunday is free of charge for all our guests. It then takes ca. 2 hours to drive from Jumurda to Riga (the departure of the chartered shuttle bus from Jumurda to Riga is scheduled for afternoon of Sunday, August 16).</p>
      <h3>Getting to / from the Riga International Airport</h3>
        
      <p>Once you have arrived to the Riga International Airport, it is best to use either <a href="http://www.riga-airport.com/en/main/passengers/useful-information/getting-to-the-airport/taxi" target="_blank">taxi</a> or <a href="http://www.riga-airport.com/en/main/passengers/useful-information/getting-to-the-airport/public-transport" target="_blank">public transportation</a> to reach your accommodation of choice in Riga.</p>
      <p>For taxi services, we would recommend buying a Baltic Taxi pre-paid voucher (a stall on your way out from the Arrivals terminal) in the airport. It costs 14 EUR, and is valid for any destination within Riga. Taxi drivers in Riga sometimes do enjoy taking the longer route (especially if their passenger is a foreigner), so the voucher would assure a fixed price for your trip from the airport.
      <p>More information on the <a href="https://www.airbaltic.com/en/baltic-taxi-vouchers" target="_blank">vouchers</a> (please note, it is also possible to buy them online, yet purchasing them at the stall in the airport is usually quicker).
For public transportation, please remember to have EUR cash with you, preferably in small notes. </p>

      <h2>
        Getting to Jumurdas Manor House
      </h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d279221.82655045984!2d25.00341200975495!3d56.85588308594409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x46eecfb0e5073ded%3A0x400cfcd68f2fe30!2zUsSrZ2EsIExhdHZpYQ!3m2!1d56.9496487!2d24.105186399999997!4m5!1s0x46e977d8053d9021%3A0xf2ae486c53961c9e!2sJumurdas+Mui%C5%BEa%2C+Jumurda+parish%2C+Latvia!3m2!1d56.946115999999996!2d25.741009!5e0!3m2!1sen!2sdk!4v1428070546210" width="400" height="300" frameborder="0" style="border:0"></iframe>
      <p>It takes ca. 2 hours to drive from Riga to Jumurda. The modes of transportation include:</p>
      <ul>
          <li>The shuttle bus from Riga to Jumurda: we will charter a bus departing from Riga (center), and taking you directly to the Jumurda Manor House. Should you choose this mode of travel, please let us know in the <a href="#/rsvp">RSVP</a>
        </li>
           <li>
          By car (please let us know should you need car rental recommendations)
        </li>
           <li>
          Public transportation: bus from Riga to Ērgļi (<a href="http://www.cata.lv/new/upl/userfiles/ergli_majaslapa.pdf">Schedule</a>). Jumurda is 7km from Ērgļi, so if you would prefer this route, we would organize a pick-up service from Ērgļi
        </li>
       
       
        
      </ul>
        <p>For our international guests we would recommend opting for the shuttle bus we have chartered</p>
      
      <h3>
        Shuttle bus schedule (the exact departure / arrival locations in Riga: TBD)
      </h3>
      <table>
        <tr>
          <th>Route</th>
          <th>Departure</th>
          <th>Arrival</th>
        </tr>
        <tr>
          <td>Riga, center (near Astor Riga Hotel) -  Jumurdas Manor House</td>
          <td>Saturday, August 15, 2015 10:30</td>
          <td>Saturday, August 15, 2015 12:30</td>
        </tr>
        <tr>
          <td>Jumurdas Manor House - Riga, center (near Astor Riga Hotel) - Riga International Airport</td>
          <td>Sunday, August 16, 2015 15:00</td>
          <td>Sunday, August 16, 2015 17:00 (Riga, center) and 17:30 (Riga International Airport)</td>
        </tr>
      </table>
    </div>
  </div>

</div>
