<div ng-include="'partials/header.html'"></div>
<div class="container welcome-hero">
  <div class="row hero">
    <div class="col w10/12 o1/12">
      <h1>
        Getting here
      </h1>
      <h2>
        Your stay in Riga
      </h2>
      <h2>
        Jumurdas Manor House
      </h2>
    </div>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17408.699401554044!2d24.109636019623448!3d56.94730341186482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sdk!4v1428069383775" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>
