<div ng-include="'partials/header.html'"></div>
<div class="container gifts">
  <div class="row">
    <div class="col w8/12 o2/12 m:w10/12 m:o1/12">
      <h1>
        Gifts
      </h1>
       <p>Having the pleasure of your company will be a gift in itself :) </p>
      <p>Should you be in an exceedingly generous mood though, we are planning an extended wedding trip to Australia and New Zealand towards the end of the year, and since we both value experiences over things, we would be super-happy if our wedding gifts were mostly adventure-presents. (This type of presents would also be easier to transport back to Denmark :) )</p>
      <p>If you would like to chip into our wedding trip or some of the activities we are planning during the trip, please find our Adventure Present Box at the wedding, or see below if you would rather prefer things digital (scroll down to proceed to payment details):</p>
      <ul>
        <li ng-repeat="gift in gifts">
          <div class="gift">
            <h3>{{gift.title}} : <input class="amount" type="text" ng-model="gift.amount" size="4" /> EUR (DKK {{ rates['DKK'] / rates['EUR'] * gift.amount | noCommaCurrency:'' }})</h3>
            <div class="wrap">
              <div class="buttons">
                <button class="increment" ng-click="increment(gift, 10)" >+ 10 EUR</button>
                <button  class="decrement" ng-click="decrement(gift, 10)" >- 10 EUR</button>
              </div>
            <img ng-src="img/{{gift.img}}" />
            </div>
          </div>
        </li>
      </ul>
      <button class="pay" ng-click="pay_confirmation()" ng-disabled="getTotal() === 0" >Give a total of {{getTotal()}} EUR</button>
    </div>
  </div>
  <script type="text/ng-template" id="pay_confirmation">
    <h2>Payment methods</h2>
    <p>Please make a transfer of <b>{{getTotal()}} EUR</b> using one of the following payment methods</p>
      <ul>
        <li>
          <b>Danish Bank Account Transfer</b>
          <p>Reg.Nr: <span class="blue">4314</span></p>
          <p>Konto Nr: <span class="blue">4688370736</span></p>
        </li>
        <li>
          <b>Mobile Pay</b>
          <p>Phone number: <span class="blue">51 51 18 38</span></p>
        </li>
        <li>
          <b>International Bank Transfer</b>
          <p>Name: <span class="blue">Troels Liebe Bentsen</span></p>
          <p>SWIFT/BIC: <span class="blue">DABADKKK</span></p>
          <p>IBAN: <span class="blue">DK5930004688370736</span></p>
        </li>
        <li>
          <b>Adventure Present Box</b>
          <p>A gift collection box will be provided at the wedding for contributions in cash</p>
        </li>
      </ul>
      <p>Send your wedding greetings</p>
      <textarea id="gift_comment" type="text" ng-model="comment"></textarea>
      <div class="buttons">
        <button ng-click="pay(gifts, comment, closeThisDialog)" >Confirm</button>
        <button class="red small" ng-click="closeThisDialog()" >Cancel</button>
      </div>
  </script>
</div>
