<div ng-include="'partials/header.html'"></div>
<div class="container rsvp">
  <div class="row hero">
    <div class="col w10/12 o1/12">
      <h1>
        Gifts
      </h1>
      <p>We are planning an extended wedding trip to Australia and New Zealand towards the end of the year, and since we both value experiences over things, we would be super-happy if our wedding gifts were mostly adventure-presents. (This type of presents would also be easier to transport back to Denmark)</p>
      <p>If you would like to chip into our wedding trip or some of the activities we are planning during the trip, please see below</p>
      <ul>
        <li ng-repeat="gift in gifts">
          <div>
            <p>{{gift.title}} - {{gift.amount}} EUR</p>
            <button ng-click="increment(gift, 10)" >+</button>
            <button  ng-click="decrement(gift, 10)" >-</button>
            <img ng-src="img/{{gift.img}}" />
          </div>
        </li>
      </ul>
      
      
      <button ng-click="pay_confirmation()" ng-disabled="total === 0" >Gift a total of {{total}} EUR</button>
    </div>
  </div>
  <script type="text/ng-template" id="pay_confirmation">
      <h2>Payment methods</h2>
    <p>Please make a transfer of <b>{{total}} EUR</b> using one of the following payment methods</p>
      <ul>
        <li>
          <b>Danish Bank Account Transfer</b>
          <p>Reg.Nr: 4314</p>
          <p>Konto Nr: 4688370736</p>
        </li>
        <li>
          <b>Mobile Pay Phone number</b>
          <p>51 51 18 38</p>
        </li>
        <li>
          <b>International Bank Transfer</b>
          <p>SWIFT/BIC: DABADKKK</p>
          <p>IBAN: DK5930004688370736</p>
        </li>
      </ul>
      <p>If you provide your mailing address along with your adventure-present, we will make sure to send you a little postcard thank-you greeting from the respective destination!</p>
      <textarea id="gift_address" type="text" ng-model="address"></textarea>
      <button ng-click="pay(gifts, address, closeThisDialog)" >Confirm</button>
  </script>
</div>
