<div class="container header">
  <div class="row">
    <div class="col w2/12 o1/12">
      <button class="simple">Aisma &amp; Troels</button>
    </div>
    <div class="col w8/12">
      <ul class="menu">
        <li>The Wedding</li>
        <li>RSVP</li>
        <li><a href="#/gettinghere">Getting here</a></li>
        <li><a href="#/accommodation">Accommodation</a></li>
        <li>Gifts</li>
        <li>Contact</li>
      </ul>
    </div>
    <img class="birds" src="img/birds.svg"></img>
  </div>
</div>