<div ng-include="'partials/header.html'"></div>
<div class="container rsvp">
  <div class="row hero">
    <div class="col w8/12 o2/12 m:w10/12 m:o1/12">
      <h1>
        RSVP
      </h1>
      <ul>
        <li ng-repeat="guest in guests">
          <div class="guest">
            <a ng-href="#/rsvp/{{guest.id}}">
              <span>{{guest.name}}</span>
              <i class="{{guest.coming === null ? 'fa fa-question status-unknown' : (guest.coming ? 'fa fa-check status-yes' : 'fa fa-times status-no')}}"/>
            </a>
          </div>
        </li>
      </ul>

    </div>
  </div>

</div>
