<div ng-include="'partials/header.html'"></div>
<div class="container thewedding">
  <div class="row hero">
    <div class="col w8/12 o2/12 m:w10/12 m:o1/12">
      <h1>
       The Wedding
      </h1>
      <h2>The Grand Plan</h2>
      <h3>
        Saturday, August 15, 2015 @ Jumurda Manor, Latvia
      </h3>
      <table>
        <tr>
          <th>Time</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>13:00</td>
          <td>Guests arrive and find their rooms at the Jumurda Manor(<i>welcome nibbles and drinks for the famished</i>)</td>
        </tr>
        <tr>
          <td>14:00</td>
          <td>Aisma and Troels getting married</td>
        </tr>
        <tr>
          <td>15:00</td>
          <td>Champagne reception, we’ve just gotten married!</td>
        </tr>
        <tr>
          <td>16:30</td>
          <td>...</td>
        </tr>
        <tr>
          <td>18:00</td>
          <td>Let the feast begin!</td>
        </tr>
        <tr>
          <td>23:59</td>
          <td>Let there be Cake!</td>
        </tr>
        <tr>
          <td>00:00</td>
          <td>Dance till you drop</td>
        </tr>        
      </table>
      <h3>
        Saturday, August 16, 2015 @ Jumurda Manor, Latvia
      </h3>
      <table>
        <tr>
          <th>Time</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>10:00</td>
          <td>Hearty breakfast</td>
        </tr>
        <tr>
          <td>11:00</td>
          <td>Chillax (swim in the lake, sauna, volley, pretend you’re a rock etc.)</td>
        </tr>
        <tr>
          <td>15:30</td>
          <td>Return to Riga</td>
        </tr>       
      </table>      
    </div>
  </div>
</div>
