<div ng-include="'partials/header.html'"></div>
<div class="container welcome-hero">
  <div class="row hero">
    <div class="col w10/12 o1/12">
      <h1>
        Aisma &amp; Troels
      </h1>
      <h2>
        You are invited to our awesome wedding, taking place <b>Saturday</b>,
        <br> the <b>15th of August 2015.</b>
      </h2>
      <h2>
        We'll be expecting you at <b>Jumurdas Manor House, Latvia :-)</b>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col w10/12 o1/12">
      <button class="large" onclick="window.location.href='#/rsvp'">Fill in RSVP</button>
    </div>
  </div>
  <div class="row z-low">
    <img src="img/branches.svg" class="branches"/>
  </div>
</div>