<div ng-include="'partials/header.html'"></div>
<div class="container welcome-hero">
  <div class="row hero">
    <div class="col w8/12 o2/12 m:w10/12 m:o1/12">
      <h1>
        {{invitation.title}}
      </h1>
      <h2>
        You are hereby totally invited to our wedding, taking place <b>Saturday</b>,
        <br> the <b>15th of August 2015.</b>
      </h2>
      <div class="fill images">
        <img srcset="img/front-aisma-and-troels-1-slim-large.jpg 1616w, img/front-aisma-and-troels-1-slim-medium.jpg 960w, img/front-aisma-and-troels-1-slim-small.jpg 480w"  src="img/front-aisma-and-troels-1-slim-medium.jpg" />
      </div>
      <div class="row whoarethesepeople">
        <h2 class="col fill">
          <a href="#/whoarethesepeople">Who are these people?</a>
        </h2>
      </div>
      <h2>
        The wedding will be held in <b>Jumurdas Manor House, Latvia</b>
      </h2>
      <h2>
        Please RSVP before <b>July 1, 2015</b>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col w8/12 o2/12">
      <button class="large" onclick="window.location.href='#/rsvp'">Fill in RSVP</button>
    </div>
  </div>
  <div class="row z-low">
    <img src="img/branches.svg" class="branches"/>
  </div>
<!--  <canvas id="qr-code"></canvas>-->
</div>
<script>
  /* qr.canvas({
    canvas: document.getElementById('qr-code'),
    value: 'https://www.married.dk/?key=1234'
  }); */
</script>