<div ng-include="'partials/header.html'"></div>
<div class="container whoarethesepeople">
  <div class="row hero">
    <div class="col w10/12 o1/12">
      <h1>
       Who are these people?
      </h1>
      
      <img src="img/troels-cbs-2006.png" height="300px"/>
      <img src="img/aisma-peaktime-2006.png" height="300px" />
      <p>Aisma and Troels first met in the distant year of 2006 in Riga, Latvia, where Troels was proudly representing Copenhagen Business School at the Peak Time student case competition hosted by the Stockholm School of Economics in Riga, Aisma’s respective alma mater.</p>
      
      <img src="img/troels-aisma-portugal.png" height="300px" />
      <p>Following 3 days of active case solving, enthusiastic dancing and pleasant socializing, Troels left Riga with a winner’s title of the Peak Time competition and Aisma’s e-mail address (Aisma insists the two are not related), whilst Aisma could gaze into the compass Troels gifted her before departing (one of the prizes of the competition) and reminisce of the very tall and very blonde foreigner she was not expecting to ever see again.</p>
      
      <p>Fast-forwarding a few years (spoiler alert: they did meet again) and locations (Portugal, Norway, Denmark, UK, Århus*, China) ahead, here they were, in Shanghai, China in September 2012, putting an end to their very long long-distance relationship, and heading back to Copenhagen together.</p>
      <img src="img/troels-aisma-shanghai.png" height="300px" />
      <img src="img/troels-aisma-usa.png" height="300px" />
      <img src="img/troels-aisma-france.png" height="300px" />
      <p>And now, in 2015, having spent more than 9 years together** and not yet gotten sick of each other, Troels and Aisma decided they might as well tie the knot. And they hope that You would like to join the celebration of their wedding and the subsequent festivities – and make it a day to remember</p>
      
      <p>* Yes, Jylland does feel a bit like a different country</p>
      <p>** Well, some of it apart, but still together. That’s how long distance works</p>
    </div>
  </div>
</div>
