/* Imports */
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/* General */
body {
  font-weight: 100;
  color: #333;
  font-family: "Roboto";
}
div.view-frame {
  margin-top: 0;
}

/* Typography */
h1 {
  font-size: 3em;
  font-weight: 300;
}
h2 {
  font-size: 1.3em;
  font-weight: 300;
}
.c-orange {   
  color: #FD6834;
}
.c-light {
  color: #999;
}
.w-light {
  font-weight: lighter;
}

/* Links */
a {
  text-decoration: none;
}

/* Buttons */
button, button:focus, a {
  color: #ffb55e;
  border-color: #ffb55e;
  font-family: "Roboto";
  font-weight: 300;
  border-width: 2px;
  margin-top: 20px;
}
button:hover {
  color: #ffb55e;
  border-color: #ffb55e;
  border-width: 2px;
}

/* Toggle switch */
.toggle-switch {
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    line-height: 8px;
    min-width: 100px;
}

.toggle-switch-animate {
    margin-top: 0px;
}

.toggle-switch.disabled > div > span.knob {
    background: #AAA;
}

.toggle-switch span {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 100%;
    line-height: 20px;
    padding: 4px;
    text-align: center;
    width: 33%;
    white-space: nowrap;

    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.toggle-switch > div {
    position: relative;
    width: 150%;
}

.toggle-switch .knob {
    background: red;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #f5f5f5;
    width: 34%;
    z-index: 100;
}

.toggle-switch .switch-on {
    left: 0%;
}

.toggle-switch .switch-off {
    left: -50%
}

.toggle-switch .switch-left, .toggle-switch .switch-right {
    z-index: 1;
}

.toggle-switch .switch-left {
    color: #fff;
    background: green;
}

.toggle-switch .switch-right {
    color: #333;
    background: red;
}

.toggle-switch-animate {
    transition: left 0.5s;
    -o-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -webkit-transition: left 0.5s;
}

/* Headers */
.header {
  border-bottom: 2px solid #FBCA98;
  padding: 15px 0;
  color: #ffb55e;
  font-weight: 300;
  position: relative;
}
.header button {
  margin: 0;
  border: 0;
  padding: 0;
}
.header .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 100%;
}
.header .menu li {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
}
.header .menu li:hover {
  color: #ffb55e;
}
.header .birds {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 22%;
  top: -4px;
}

/* Page :: Welcome */
.welcome-hero {
  margin-top: 2%;
}
.welcome-hero button {
  padding-left: 40px;
  padding-right: 40px;
}
.welcome-hero div:not(.z-low){
  position: relative;
  z-index: 2;
}
.welcome-hero .branches {
  position: fixed;
  bottom: -140px;
  width: 100%;
  opacity: 0.3;
  z-index: 1;
}

/* Page :: RSVP */
.rsvp div.guest {
    border-style: solid;
    border-width: thin;
}

.rsvp div.guest i.status-no {
   color: red;
}

.rsvp div.guest i.status-yes {
   color: green;
}
  

